body {
    margin: 0;
}

canvas {
    border: 1px solid;
/*    Not your typical Yellow, but my god did that hurt my eyes.*/
    background: #1A6DEC;
}

.winScreen {
    border: 1px solid;
    position: absolute;
    top: -60px;
    opacity: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: none;
    transition: 1s;
}
